<div th:fragment="web_formularios"
    th:style="${style_fragmento_tex}">
    <div th:attr="${atributos_error_tex}"
        th:style="${style_mensaje_error_tex}"
        th:utext="${mensaje_error_tex}"></div>
    <form th:action="${url_destino_tex}" 
        th:method="${metodo_tex}"
        th:attr="${atributos_tex}"
        th:style="${style_tex}"
        th:utext="${contenido_formulario_tex}"></form>
</div>
<div th:fragment="web_formularios_sin_form"
    th:style="${style_fragmento_tex}">
    <div th:attr="${atributos_error_tex}"
        th:style="${style_mensaje_error_tex}"
        th:utext="${mensaje_error_tex}"></div>
    <div th:utext="${contenido_formulario_tex}"></div>
</div>
<div th:fragment="control_entradas"
    th:style="${style_fragmento_tex}"><label>
    <div th:attr="${atributos_error_tex}"
        th:style="${style_mensaje_error_tex}"
        th:utext="${mensaje_error_tex}"></div>        
    <spam th:text="${mensaje_de_captura_tex}"
        th:style="${style_mensaje_de_captura_tex}"></spam>
    <input th:type="${control_tipo_tex}"
        th:id="${id_tex}"
        th:name="${clave_tex}"
        th:value="${valor_tex}"
        th:attr="${atributos_tex}"
        th:style="${style_tex}"
        th:text="${contenido_input_tex}"></input></label></div>
<div th:fragment="control_redirecciones"
    th:style="${style_fragmento_tex}"><label>
    <div th:attr="${atributos_error_tex}"
        th:style="${style_mensaje_error_tex}"
        th:utext="${mensaje_error_tex}"></div>        
    <spam th:text="${mensaje_de_captura_tex}"
        th:style="${style_mensaje_de_captura_tex}"></spam>
    <input th:type="${control_tipo_tex}"
        th:id="${id_tex}"
        th:name="${clave_tex}"
        th:value="${valor_tex}"
        th:attr="${atributos_tex}"
        th:style="${style_tex}"
        th:text="${contenido_input_tex}" 
        th:onclick="javascript:window.location='${url_destino_tex}';"></input></label></div>
<div th:fragment="control_textareas"
    th:style="${style_fragmento_tex}"><label>
    <div th:attr="${atributos_error_tex}"
        th:style="${style_mensaje_error_tex}"
        th:utext="${mensaje_error_tex}"></div>        
    <spam th:text="${mensaje_de_captura_tex}"
        th:style="${style_mensaje_de_captura_tex}"></spam>
    <textarea th:id="${id_tex}"
        th:name="${clave_tex}"
        th:attr="${atributos_tex}"
        th:style="${style_tex}"
        th:text="${valor_tex}"></textarea></label></div>
<div th:fragment="control_selecciones"
    th:style="${style_fragmento_tex}"><label>
    <div th:attr="${atributos_error_tex}"
        th:style="${style_mensaje_error_tex}"
        th:utext="${mensaje_error_tex}"></div>        
    <spam th:text="${mensaje_de_captura_tex}"
        th:style="${style_mensaje_de_captura_tex}"></spam>
    <select th:id="${id_tex}"
        th:name="${clave_tex}"
        th:attr="${atributos_tex}"
        th:style="${style_tex}"
        th:utext="${contenido_tex}"></select></label></div>
<option th:fragment="control_opciones_selecciones"
    th:style="${style_fragmento_tex}" 
    th:attr="${atributos_tex}"
    th:value="${clave_tex}"
    th:text="${valor_tex}"></option>
<div th:fragment="mensaje_error_linea"
    th:style="${style_fragmento_tex}" 
    th:attr="${atributos_tex}"
    th:text="${mensaje_error_tex}"></div>
<div th:fragment="mensaje_linea" 
    th:style="${style_fragmento_tex}"
    th:attr="${atributos_tex}"
    th:text="${mensaje_tex}"></div>
