<form th:fragment="web_formularios" 
    th:action="${url_destino_tex}" 
    th:method="${metodo_tex}"
    th:utext="${contenido_formulario_tex}"
    th:attr="${atributos_tex}"></form>
<div th:fragment="control_entradas"><label>
    <spam th:text="${mensaje_de_captura_tex}"></spam>
    <input th:type="${control_tipo_tex}"
        th:id="${clave_tex}"
        th:name="${clave_tex}"
        th:attr="${atributos_tex}"
        th:value="${valor_tex}"></input></label></div>
<div th:fragment="control_textareas"><label>
    <spam th:text="${mensaje_de_captura_tex}"></spam>
    <textarea th:id="${clave_tex}"
        th:name="${clave_tex}"
        th:attr="${atributos_tex}"
        th:value="${valor_tex}"></textarea></label></div>
<div th:fragment="control_selecciones"><label>
    <spam th:text="${mensaje_de_captura_tex}"></spam>
    <select th:id="${clave_tex}"
        th:name="${clave_tex}"
        th:attr="${atributos_tex}"
        th:utext="${contenido_select_tex}"></select></label></div>
<option th:fragment="control_opciones_selecciones" 
    th:attr="${atributos_tex}"
    th:value="${opcion_clave_tex}"
    th:text="${opcion_valor_tex}"></option>
<div th:fragment="mensaje_error_linea" 
    style="color:red;"
    th:attr="${atributos_tex}"
    th:text="${mensaje_error_tex}"></div>
<div th:fragment="mensaje_linea" 
    th:attr="${atributos_tex}"
    th:text="${mensaje_tex}"></div>
